body{
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


form label{
    color: #000;
    font-size: 17px;
    margin-bottom: 4px;
}

form input{
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    font-size: 15px;
    transition: all 0.5s;
}

form input:focus{
    border-radius: 16px;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fac031;
    width: 100%;
    height: 100vh;
}

.btn{
    background: #fff;
    position: relative;
    width: 150px;
    cursor: pointer;
    padding: 12px 25px;
    color: #000;
}

.btn img{
    width: 70px;
    height: 120px;
}

button{
    cursor: pointer;
    width: 150px;
    
}